/* about the navigation top */

 .menu {

    padding-top: 0px;
    margin-right: 20px;
    margin-bottom: 200px;
    float: right;
    padding-right: 20px;
   

 }


 .container_name {

    text-align: center;
    padding-top: 20px;
    font-family: 'Acme', sans-serif;
    font-weight: normal;
    font-size: 60px;
    height: 50%;
    justify-content: center;
   

} 

#details {
    
    padding-top: 0px;
    font-size: x-large;
    font-weight: 100;
    filter: drop-shadow(2px 2px 4px grey);


}

#more {
    font-size: small;
    padding-top: 0px;
    margin-top: -20px;
    font-size: medium;
    
}