
.main{

    margin: auto;
    float: right;
    padding-right: 30px;
    font-family: 'Courgette', cursive;    

}

.container_name {

    text-align: center;
    padding-top: 100px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    height: 100%;
   

}

#details {
    padding-top: 0px;
    font-size: x-large;
    font-weight: 100;
    


}