
.main{

    margin: auto;
    float: right;
    padding-right: 20px;
    font-family: 'Courgette', cursive;    

}

.container_name {

    text-align: center;
    padding-top: 200px;
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
   

}

#details {
    padding-top: 0px;
    font-size: x-large;
    font-weight: 100;
    


}